body {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

/* logo */

#logo {
  background-color: black;
  width: 100%;
}

.main_container {
  width: 960px;
  margin: 0 auto;
}

#logo .main_container {
  display: flex;
  align-items: center;
}

#logo img {
  height: 1.5rem;
  margin: 0 0.5rem 0 1rem;
}

#logo h3 {
  margin: 0.66rem 0;
  font-size: 1rem;
}

/* main banner */

#main_banner {
  background-image: url("../images/moto.jpeg");
  display: flex;
  height: 25rem;
  width: 100%;
  background-size: cover;
}

#main_banner_box {
  display: flex;
  flex-direction: column;
  margin: 9rem 0 0 0;
  width: 20rem;
  background-color: black;
}

/* Die Box wird trotz Befolgung der Designvorgaben (20 rem Breite)
  zu klein, wieso genau? */

#main_banner_box h3 {
  margin: 2rem 0 0.25rem 3rem;
  font-size: 1rem;
  font-weight: bold;
}

#main_banner_box h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 3rem 3rem;
}

/* navigation */

#navigation {
  background-color: firebrick;
}

#nav_box {
  display: flex;
  justify-content: space-between;
}

nav {
  margin: 0.75rem 0;
}

/* products */

#product_box {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.product {
  border: 4px solid black;
  width: 30%;
  margin: 3rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product img {
  margin: 2rem 0;
  height: 9rem;
  max-width: 100%;
  display: block;
}

.product p {
  padding: 0.5rem 0;
  background-color: black;
  width: 100%;
}

/* location and time */

#location_time {
  background-color: white;
}

.locationtime_box {
  display: flex;
  justify-content: space-between;
}

.locationtime {
  width: 35%;
}

.locationtime .white {
  padding: 1rem 0 1rem 2rem;
  background-color: black;
}

.locationtime .black {
  background-color: white;
  color: black;
  margin-bottom: 4rem;
}

/*footer */

footer {
  background-color: black;
  width: 100%;
}

.footer_box {
  display: flex;
  height: 5rem;
  align-items: center;
  text-align: left;
}
